__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/ 
build/
archive/
dist/
figures/*
!figures/README.md
!figures/example_keep/
!figures/example_keep/**
*.log
*.tmp
*.cache
*.DS_Store
venv/
env/
.venv/
.idea/
.vscode/
*.swp
*.swo
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.ruff_cache/
.ipynb_checkpoints/
*.ipynb
data_real/*
!data_real/kin8nm/
!data_real/kin8nm/dataset_2175_kin8nm.arff